<!DOCTYPE html>
<html>
    <body class="hold-transition sidebar-mini layout-fixed">


        <div class="wrapper">
            <partial name="_Header" />
            <partial name="_SideBar" />
            <div class="content-wrapper">
                @RenderBody()


            </div>
            <partial name="_Footer" />
        </div>

        @RenderSection("Scripts", required: false)
    </body>
</html>
